html{
  /*MAIN FONT SIZING*/
  font-size: 64.5%;
}

body{
  margin: 0;
  padding: 0;
  font-size: 1.75rem;
}

/* SCROLL BAR */
::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-thumb{
  visibility: none;
  border-radius: 10px;
}

.container_item{
  margin: 4 auto 0;
}

/*BACKGROUND IMAGE AND NAME FONT*/
.landing-page-container{
  width: 100%;
  height: 100vh;
  background-image: url(pexels-photo-319382.jpeg);
  background-size: cover;
  background-repeat: repeat;
  overflow: auto;
  display: run-inS;
  font-family: 'Shrikhand', cursive;
  color: #09383E;
}

.content-wrapper{
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header{
  width: 100%;
  height: 2rem;
  padding: 3rem 0;
  display: block;
}

/*MENU*/
.menu-icon{
  width: 2.5rem;
  height: 1.5rem;
  cursor: pointer;
  font-family: 'Shrikhand', cursive;
  background: none;
  position: absolute;
  box-sizing: inherit;
  border-bottom: none;
}

nav ul{
  text-decoration-color: #09383E;
  list-style: none;
  padding: 30px;
  min-width: 100px;
  position: absolute;
  margin-top: 1px;
  opacity: 0;
  visibility: inherit;
  box-shadow: none;
  transition: .5s;
}


nav ul:hover{
  text-decoration: none;
  opacity: 100;
  visibility: visible;
}

nav ul li a, nav ul li a:after, nav ul li a:before{
  transition: all .5s;
  color: #09383E;
}

nav ul li a:hover{
  color:#3a5f64;
}

nav.shift ul li a{
  position: relative;
  z-index: 1;
}

nav.shift ul li a:hover{
  color: #09383E;
  list-style: none;
}

nav.shift ul li a:hover:after{
  opacity: 1;
  visibility: visible;
  height: 100%;
}


.header_item{
  display: inline-block;
  float: left;
}

.menu-icon_line{
  width: 1.5rem;
  height: .2rem;
  background: #0C383E;
  display: block;
}

.menu-icon_line:before, .menu-icon_line:after{
  content: '';
  width: 1.5rem;
  height: .2rem;
  background: #0C383E;
  display: inline-block;
  position: relative;
}

.menu-icon_line:before{
  left: .5rem;
  top: -.6rem;
}

.menu-icon_line:after{
  top: -1.8rem;
}

.heading{
  width: 90%;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.7rem;
  margin: 0 30px;
  text-align: center;
}

.ellipse-container{
  width: 50rem;
  height: 50rem;
  border-radius: 90%;
  margin: 0 auto;
  position: sticky;
  top: 7rem;
}

.ellipse-container .greeting{
  text-align: center;
  position: relative;
  top: 20rem;
  left: 1.5rem;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 3rem;
  font-weight: 800;
  opacity: .7;
}

.ellipse-container .greeting:after{
  content: '';
  width: .3rem;
  height: .3rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #0C383E;
  position: relative;
  top: -0.65rem;
  left: -5.05rem;
}

.ellipse{
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;

}

.ellipse_outer--thin{
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9,56,62,.1);
  animation: ellipseOrbit 15s ease-in-out infinite;
}

.ellipse_outer--thin:after{
  content: "";
  background-image: url(dotted_circle_400x400.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #09383E;
  position: absolute;
  opacity: .5;
}

.ellipse_outer--thick{
  width: 99.5%;
  height: 99.5%;
  border-color: #09383E transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipseRotate 15s ease-in-out infinite;
}

.ellipse_orbit{
  width: 2.5rem;
  height: 2.57rem;
  border-width: 2px;
  border-color: #09383E;
  top: 5rem;
  right: 6.75rem;
}

.ellipse_orbit:before{
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #09383E;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes ellipseRotate {
  0%{
    transform: rotate(-45deg);
  }
  100%{
    transform: rotate(-405deg);
  }

}

@keyframes ellipseOrbit {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }

}
